{% extends "admin/base.html" %} {% block content %}
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h2 class="h2 mb-5">{{ page_title }}</h2>
    <form
      class="row g-3"
      action="{{ url_for('product.process_add') }}"
      method="post"
    >
      {{ form.hidden_tag() }}
      <div class="container text-center">
        <div class="form-group">
          {{ form.title.label }}<br />
          {{ form.title() }}
        </div>
        <div class="form-group">
          {{ form.price.label }}<br />
          {{ form.price() }}
        </div>
        <div class="form-group">
          {{ form.description.label }}<br />
          {{ form.description() }}
        </div>
        <div class="form-group">
          {{ form.calories.label }}<br />
          {{ form.calories() }}
        </div>
        <br />
        {{ form.submit }}
      </div>
    </form>
  </div>
</div>
{% endblock content %}
