<!-- footer section -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<!-- popper js -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}">
</script>
<!-- bootstrap js -->
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<!-- owl slider -->
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}">
</script>
<!-- isotope js -->
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
<!-- nice select -->
<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
<!-- custom js -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>

</html>