{% include "_head.html" %} {% include "_header.html" %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Товар</th>
      <th scope="col">Колличество</th>
      <th scope="col">Итого</th>
    </tr>
  </thead>
  <tbody>
    {% for basket_product_list in basket_products_list%}

    <tr>
      <th scope="row">
        {% for basket_product in basket_product_list['product_name']%} {{
        basket_product }}{% endfor %}
      </th>
      <td>{{ basket_product_list['quantity'] }}</td>
      <td>
        {{ basket_product_list['final_price'] * basket_product_list['quantity']
        }}
      </td>

      {% endfor %}
    </tr>
  </tbody>
</table>
<a
  class="col-3 btn btn-primary"
  href="{{ url_for('process_ordering') }}"
  role="button"
>
  Оформить заказ
</a>

{% include "_footer.html" %} {% include "_end_body.html" %}
