{% include "_head.html" %} {% include "_header.html" %}
{% block slider %}
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for carousel_item in carousel_items %}
                {% include "components/main_carousel_inner_item.html" %}
            {% endfor %}
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                {% for carousel_item in carousel_items %}
                    <li data-target="#customCarousel1" data-slide-to="{{ carousel_item['position'] }}">
                        {% if carousel_item['position'] == 0 %}
                        class="active"
                            {% endif %}
                    
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</section>
<!-- end slider section -->
{% endblock slider %}
</div>

<!-- offer section -->

<section class="offer_section layout_padding-bottom">
<div class="offer_container">
<div class="container">
    {#            <div class="row">#}
    {#                <div class="col-md-6">#}
    {#                    <div class="box">#}
    {#                        <div class="img-box">#}
    {#                            <img src="images/o1.jpg" alt="">#}
    {#                        </div>#}
    {#                        <div class="detail-box">#}
    {#                            <h5>#}
    {#                                Tasty Thursdays#}
    {#                            </h5>#}
    {#                            <h6>#}
    {#                                <span>20%</span> Off#}
    {#                            </h6>#}
    {#                            <a href="">#}
    {#                                Order Now {% include "_cart_svg.html" %}#}
    {#                            </a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-6  ">#}
    {#                    <div class="box ">#}
    {#                        <div class="img-box">#}
    {#                            <img src="images/o2.jpg" alt="">#}
    {#                        </div>#}
    {#                        <div class="detail-box">#}
    {#                            <h5>#}
    {#                                Pizza Days#}
    {#                            </h5>#}
    {#                            <h6>#}
    {#                                <span>15%</span> Off#}
    {#                            </h6>#}
    {#                            <a href="">#}
    {#                                Order Now {% include "_cart_svg.html" %}#}
    {#                            </a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
</div>
</div>
</section>

<!-- end offer section -->

<!-- food section -->

<section class="food_section layout_padding-bottom">
<div class="container">
<div class="heading_container heading_center">
    <h2>
        Наше меню
    </h2>
</div>

<ul class="filters_menu">
    <li class="active" data-filter="*">All</li>
    {% for category in categories %}
        <li data-filter=".{{ category['translit'] }}">{{ category['title'] }}</li>
    {% endfor %}
</ul>

<div class="filters-content">
    <div class="row grid">
        {% for product in product_list %}
            <div class="col-sm-6 col-lg-4 all
            {% for product_category in product['categories'] %}
                {{ product_category['translit'] }}
            {% endfor %}
            ">
                <div class="box">
                    <div>
                        <div class="img-box">
                            <img src="{{ url_for('static', filename='images/') }}{{ product["id"] }}.png"
                                 alt="">
                        </div>
                        <div class="detail-box">
                            <h5>{{ product['title'] }}</h5>
                            <p>{{ product['description'] }}</p>
                            <div class="options">
                                <h6>{{ product['price'] }} ₽</h6>
                                <a href="">
                                    {% include "_cart_svg.html" %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{product_list}}
        {% endfor %}
    </div>
</div>
{#            <div class="btn-box">#}
{#                <a href="">#}
{#                    View More#}
{#                </a>#}
{#            </div>#}
</div>
</section>
{% include "_footer.html" %} {% include "_end_body.html" %}
