{% extends "admin/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h2 class="h2 mb-5">{{ page_title }}</h2>
            <form class="row g-3" action="{{ url_for('order.process_update') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="container text-center">
                    <div class="form-group">
                        {{ form.id.label }}<br>
                        {{ form.id() }}
                    </div>
                    <div class="form-group">
                        {{ form.comment.label }}<br/>
                        {{ form.comment() }}
                    </div>
                    <div class="form-floating">
                        {{ form.user_id.label }}<br>
                        {{ form.user_id() }}
                    </div>
                    <div class="form-floating">
                        {{ form.products.label }}<br>
                        {{ form.products() }}
                    </div>
                    <br>
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}