{% extends "admin/base.html" %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">City</th>
            <th scope="col">Street</th>
            <th scope="col">House</th>
        </tr>
        </thead>
        <tbody>
        {% for point in point_list %}
        <tr>
            <th scope="row">{{ point.id }}</th>
            <td>{{ point.title }}</td>
            <td>{{ point.city }}</td>
            <td>{{ point.street }}</td>
            <td>{{ point.house }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}